<a href="https://colab.research.google.com/github/AndersonGL/Data-Science/blob/main/house.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
import pandas as pd       # ANTES DE RODAR OS ARQUIVOS DA RUN NOS IMPORTS.
import re

In [54]:
df = pd.read_csv("house.csv")  

df
                                        # Abrindo o arquivo cvs
#df.head(6)    # 5 primeiros              # Print  (atentar com read e head)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [55]:
filter1 =df.loc[df['Rooms'] == 3 & (df['Type'] == 'h') & (df['Price'] >= 300000)] 
filter1      # Filtrando linhas, unidades e valores dos imoveis

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
193,Albert Park,9 Durham St,1,h,985000.0,S,Marshall,30/07/2016,3.3,3206.0,...,1.0,0.0,81.0,54.0,1900.0,Port Phillip City Council,-37.84110,144.94970,Southern Metropolitan,3280.0
400,Armadale,10 William St,1,h,1435000.0,SP,Jellis,8/10/2016,6.3,3143.0,...,2.0,1.0,144.0,107.0,1900.0,Stonnington City Council,-37.85640,145.02280,Southern Metropolitan,4836.0
896,Balwyn,9/204 Whitehorse Rd,1,h,390000.0,VB,Jellis,10/09/2016,9.7,3103.0,...,1.0,1.0,740.0,NaN,NaN,Boroondara City Council,-37.81250,145.07750,Southern Metropolitan,5682.0
1812,Brighton,2a Roslyn St,1,h,1775000.0,S,Nick,10/12/2016,11.2,3186.0,...,NaN,NaN,NaN,NaN,NaN,Bayside City Council,NaN,NaN,Southern Metropolitan,10579.0
2241,Brunswick,32 Rose St,1,h,800000.0,PI,Walshe,18/03/2017,5.2,3056.0,...,1.0,4.0,330.0,NaN,NaN,Moreland City Council,-37.75770,144.95240,Northern Metropolitan,11918.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28300,Wollert,1 Kilwarrie St,1,h,376000.0,SP,Iconek,18/11/2017,25.5,3750.0,...,NaN,NaN,NaN,NaN,NaN,Whittlesea City Council,NaN,NaN,Northern Metropolitan,2940.0
30967,Emerald,80 Kilvington Dr,1,h,462000.0,S,Eview,3/02/2018,36.9,3782.0,...,1.0,0.0,1034.0,42.0,1960.0,Cardinia Shire Council,-37.94625,145.44082,Eastern Victoria,2259.0
31014,Newport,3/3 Jubilee St,1,h,340000.0,SP,hockingstuart,3/02/2018,6.2,3015.0,...,1.0,1.0,NaN,45.0,1975.0,Hobsons Bay City Council,-37.84772,144.87201,Western Metropolitan,5498.0
32523,Carlton,164 Canning St,1,h,1252000.0,S,Woodards,17/02/2018,1.6,3053.0,...,1.0,1.0,138.0,NaN,NaN,Melbourne City Council,-37.79460,144.97368,Northern Metropolitan,6786.0
33095,Broadmeadows,14 Railway Cr,1,h,500000.0,S,Ray,17/03/2018,14.0,3047.0,...,1.0,1.0,193.0,87.0,NaN,Hume City Council,-37.68397,144.92028,Northern Metropolitan,4294.0

In [56]:
# importou a modulo re (Regular expression)

filter2 = df.loc[df['Address'].str.contains('Turner st|Turner Rd', flags=re.I)] # ultilizando (str.contains) para filtra a string contains

filter2

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
8,Abbotsford,53 Turner St,2,h,NaN,S,Biggin,6/08/2016,2.5,3067.0,...,1.0,2.0,201.0,NaN,1900.0,Yarra City Council,-37.79950,144.99740,Northern Metropolitan,4019.0
9,Abbotsford,99 Turner St,2,h,NaN,S,Collins,6/08/2016,2.5,3067.0,...,2.0,1.0,202.0,NaN,1900.0,Yarra City Council,-37.79960,144.99890,Northern Metropolitan,4019.0
22,Abbotsford,106/119 Turner St,1,u,481000.0,SP,Purplebricks,10/12/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
53,Abbotsford,31 Turner St,4,h,1542000.0,S,Collins,24/09/2016,2.5,3067.0,...,3.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.79940,144.99650,Northern Metropolitan,4019.0
6453,Malvern East,16 Turner St,4,h,NaN,S,Marshall,22/05/2016,11.2,3145.0,...,3.0,2.0,597.0,202.0,1890.0,Stonnington City Council,-37.87420,145.04530,Southern Metropolitan,8801.0
6857,Moonee Ponds,3/16 Turner St,2,u,550000.0,VB,Woodards,10/09/2016,6.9,3039.0,...,1.0,1.0,0.0,85.0,1990.0,Moonee Valley City Council,-37.76170,144.93670,Western Metropolitan,6232.0
6928,Moonee Ponds,4/6 Turner St,2,u,600000.0,S,Woodards,24/09/2016,6.9,3039.0,...,1.0,1.0,166.0,81.0,1965.0,Moonee Valley City Council,-37.76240,144.93650,Western Metropolitan,6232.0
20044,Highett,48 Turner Rd,2,h,832000.0,S,Buxton,3/09/2017,16.0,3190.0,...,1.0,1.0,254.0,NaN,NaN,Bayside City Council,-37.95188,145.05369,Southern Metropolitan,4794.0
22496,Highett,3/15 Turner Rd,2,u,770000.0,S,McGrath,23/09/2017,16.0,3190.0,...,1.0,1.0,NaN,100.0,1995.0,Bayside City Council,-37.95087,145.04987,Southern Metropolitan,4794.0
23205,Highett,2/4 Turner Rd,2,u,680500.0,S,Ray,26/08/2017,16.0,3190.0,...,1.0,1.0,158.0,NaN,2000.0,Bayside City Council,-37.95147,145.04904,Southern Metropolitan,4794.0
31905,Malvern East,24 Turner St,6,h,4700000.0,S,RT,3/03/2018,8.4,3145.0,...,4.0,3.0,833.0,NaN,NaN,Stonnington City Council,-37.87351,145.04540,Southern Metropolitan,8801.0
34461,Malvern East,27 Turner St,2,h,1040000.0,S,Jellis,24/02/2018,8.4,3145.0,...,1.0,2.0,209.0,93.0,1960.0,Stonnington City Council,-37.87291,145.04510,Southern Metropolitan,8801.0

In [57]:
filter3 = df.loc[df['Address'].str.contains( '^59', flags=re.I) & (df['Price'] <= 500000)]

filter3

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
9938,Sunshine West,59 Felstead Av,3,h,465000.0,S,Bells,7/11/2016,13.5,3020.0,...,NaN,NaN,NaN,NaN,NaN,Brimbank City Council,NaN,NaN,Western Metropolitan,6763.0
29898,Sunbury,59 Davenport Dr,3,h,499500.0,S,Barry,6/01/2018,31.7,3429.0,...,2.0,2.0,664.0,NaN,NaN,Hume City Council,-37.59034,144.7089,Western Metropolitan,14092.0

In [58]:
df.loc[df['SellerG'] == 'Nelson']   # Puxando nome Nelson da coluna SelleG

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,-37.80720,144.99410,Northern Metropolitan,4019.0
7,Abbotsford,16 Maugie St,4,h,NaN,SN,Nelson,6/08/2016,2.5,3067.0,...,2.0,2.0,400.0,220.0,2006.0,Yarra City Council,-37.79650,144.99650,Northern Metropolitan,4019.0
11,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra City Council,-37.80240,144.99930,Northern Metropolitan,4019.0
14,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra City Council,-37.80600,144.99540,Northern Metropolitan,4019.0
24,Abbotsford,40 Nicholson St,3,h,1350000.0,VB,Nelson,12/11/2016,2.5,3067.0,...,2.0,2.0,214.0,190.0,2005.0,Yarra City Council,-37.80850,144.99640,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34790,Thornbury,111 Keon St,3,h,1605500.0,S,Nelson,24/02/2018,7.0,3071.0,...,2.0,2.0,376.0,140.0,1925.0,Darebin City Council,-37.75184,144.98584,Northern Metropolitan,8870.0
34792,Thornbury,83/337 Station St,2,u,NaN,S,Nelson,24/02/2018,7.0,3071.0,...,NaN,NaN,NaN,NaN,NaN,Darebin City Council,NaN,NaN,Northern Metropolitan,8870.0
34793,Thornbury,44 Wales St,3,h,NaN,SP,Nelson,24/02/2018,7.0,3071.0,...,1.0,1.0,351.0,105.0,1920.0,Darebin City Council,-37.76285,145.00917,Northern Metropolitan,8870.0
34799,Travancore,37 Mooltan St,3,h,NaN,S,Nelson,24/02/2018,4.3,3032.0,...,2.0,2.0,313.0,NaN,NaN,Moonee Valley City Council,-37.78219,144.93744,Western Metropolitan,1052.0
34808,Viewbank,78 Graham Rd,3,h,900000.0,PI,Nelson,24/02/2018,8.9,3084.0,...,2.0,1.0,688.0,NaN,NaN,Banyule City Council,-37.74008,145.08177,Eastern Metropolitan,2698.0

In [59]:
df.loc[df['SellerG'] == 'Nelson', 'SellerG' ]  = 'Jellis' # Trocando o nome da linha do SellerG para de Nelson para Jellis 

df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [60]:

df.loc[df['SellerG'] == 'Jellis', ['Method'] ]  = 'Anderson' # Trocando a linha do (Method) de  SS para Anderson

df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,Anderson,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [82]:
df.groupby(['SellerG']).mean(numeric_only=True) #  puxando media

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
SellerG,,,,,,,,,,,,,
@Realty,3.666667,7.200455e+05,18.166667,3074.416667,3.571429,1.714286,2.000000,763.285714,147.250000,1971.000000,-37.727793,145.028410,9403.833333
A,3.000000,NaN,17.400000,3048.000000,3.000000,2.000000,1.000000,NaN,NaN,NaN,-37.642500,144.912800,4704.000000
AIME,4.000000,9.800000e+05,12.200000,3147.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2894.000000
ASL,3.600000,1.227100e+06,12.080000,3086.200000,3.600000,1.800000,1.600000,637.500000,303.000000,1977.000000,-37.747146,145.055228,10859.000000
Abercromby's,3.244898,2.041424e+06,5.673469,3139.489796,3.421053,2.157895,1.894737,454.162162,201.954545,1959.181818,-37.846865,145.022298,9148.530612
...,...,...,...,...,...,...,...,...,...,...,...,...,...
iOne,3.000000,6.200000e+05,7.000000,3013.000000,3.000000,3.000000,1.000000,0.000000,141.000000,2014.000000,-37.819400,144.882600,6543.000000
iProperty,3.000000,8.200000e+05,17.200000,3133.000000,3.000000,2.000000,2.000000,277.000000,125.000000,2016.000000,-37.835810,145.198020,4181.000000
iSell,3.062500,7.231600e+05,21.946875,3172.437500,3.100000,1.500000,2.150000,577.000000,111.025000,1971.222222,-37.961042,145.163263,8701.156250
iTRAK,3.363636,7.708935e+05,24.103030,3211.909091,3.344828,1.793103,3.103448,1363.916667,157.800000,1977.647059,-37.859102,145.275246,7766.424242
voglwalpole,3.500000,NaN,20.600000,3134.500000,4.000000,2.000000,2.000000,1052.000000,NaN,NaN,-37.801030,145.233610,4013.000000

In [ ]:
df.groupby(['SellerG']).sum().sort_values('Price' , ascending= False).head(10) # lista dos 10 melhores vendedores

,Suburb,Address,Rooms,Type,Price,Method,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
SellerG,,,,,,,,,,,,,,,,,,,,
Jellis,AbbotsfordAbbotsfordAbbotsfordAbbotsfordAbbots...,68 Studley St55a Park St16 Maugie St129 Charle...,19534,hhhhhhhtuhhhthuhuhtuhhhthhhthhuuhuuhuhhttuhhhu...,6.211456e+09,AndersonAndersonAndersonAndersonAndersonAnders...,3/09/20164/06/20166/08/20167/05/20167/05/20168...,50251.6,20338395.0,15461.0,8212.0,8171.0,2191283.0,408792.4215,6018312.0,Yarra City CouncilYarra City CouncilYarra City...,-196340.62484,753413.37161,Northern MetropolitanNorthern MetropolitanNort...,50589456.0
Marshall,AbbotsfordAlbert ParkAlbert ParkAlbert ParkAlb...,49 Park St14 Merton St75 Graham St104 Richards...,6746,hhhhhthhhhhhhhhhuhuhhhhhuhhhhhuhuhhhuhuhhthuhh...,2.391432e+09,SSPSSSVBSSNSPSSSPSPSPPIPISSPISSPSPPISSSSPISSPI...,19/11/20164/03/20176/08/20167/05/20167/05/2016...,14892.2,6379057.0,5379.0,3119.0,2799.0,785614.0,171035.0922,2017663.0,Yarra City CouncilPort Phillip City CouncilPor...,-61354.12015,235095.28428,Northern MetropolitanSouthern MetropolitanSout...,15854208.0
Barry,Airport WestAirport WestAirport WestAirport We...,2/49 McIntosh St4/9 West Ct89 Bowes Av54 Marsh...,10443,uthhhtutuhhhuhhhhthhuuthhhhhthhthtuhhhhuhhhhuh...,2.037939e+09,VBVBSSSPSSPISSSSSSPSSPISPSSVBPISSSNSSSSSPSSSAV...,4/03/20174/06/20166/08/20166/08/20167/05/20167...,47466.4,10005446.0,8219.0,4109.0,4516.0,1248574.0,207475.0100,2781952.0,Moonee Valley City CouncilMoonee Valley City C...,-95440.19217,366389.49574,Western MetropolitanWestern MetropolitanWester...,25385448.0
hockingstuart,AbbotsfordAlbert ParkAlbert ParkAlbert ParkAlb...,119/52 Nicholson St105 Kerferd Rd31 Richardson...,7347,uhhhhhhhhtuuhtutuhtuhhthhhthtuhuhhhhhuhhhhtuuu...,1.972578e+09,SSSSSNSSPISPSSPVBSSPSSSPSSSPSSSSNSPSSSSSVBVBSP...,22/05/20163/09/201610/12/201615/10/201624/09/2...,28642.1,8207110.0,5606.0,3009.0,3122.0,926917.0,144481.8752,2256253.0,Yarra City CouncilPort Phillip City CouncilPor...,-75500.67421,289240.81293,Northern MetropolitanSouthern MetropolitanSout...,21818312.0
Buxton,Albert ParkAlbert ParkAltona NorthAshburtonAsh...,112 Beaconsfield Pde74 Bridport St19 Cleghorn ...,5931,hhhthhhhhhhhhhuhhhhthhthuththhhuuhhhuhhhuuhhhh...,1.760923e+09,PIVBSSSSSSSPSSSPSPSSSPSSNSSSSSSSPISSVBPISNSSPS...,4/03/201730/07/201622/08/20163/12/20164/02/201...,25162.0,5933768.0,4246.0,2300.0,2359.0,634504.0,114922.1667,1425516.0,Port Phillip City CouncilPort Phillip City Cou...,-50547.39828,193358.15502,Southern MetropolitanSouthern MetropolitanWest...,12169051.0
Ray,Airport WestAirport WestArmadaleArmadaleArmada...,2/9 El Reno Cr2/137 McNamara Av7/579 Dandenong...,6214,hhuuutuutuhhthuhhuuhhhthuhtthhhhhuhuhhhhhhthhu...,1.337053e+09,PISPISSSNSPIPISNPIPIPISSSSSPISSPSSSSSSNWSSSPIP...,12/11/201627/06/201618/06/201628/08/201630/07/...,29602.5,6115710.0,4706.0,2407.0,2682.0,780529.0,119826.1481,1651789.0,Moonee Valley City CouncilMoonee Valley City C...,-54589.93015,209459.12200,Western MetropolitanWestern MetropolitanSouthe...,17763832.0
Fletchers,ArmadaleAshburtonAshburtonAshburtonAshburtonAs...,13/56 Sutherland Rd3/39 Solway St101/218 High ...,2852,utuhhhhhhhhhhhhhtththhhhuhhuthhuhhhhhhhhhhhhhh...,7.944101e+08,SPSVBSPSSVBSSSSSSPISSPIPISPISPSPIVBSVBSSSSPNSV...,22/08/20163/12/20164/03/20177/05/20167/05/2016...,10774.1,2688865.0,2213.0,1170.0,1093.0,370104.0,55834.7600,732409.0,Stonnington City CouncilBoroondara City Counci...,-25183.55129,96651.05696,Southern MetropolitanSouthern MetropolitanSout...,5523571.0
Biggin,AbbotsfordAbbotsfordAbbotsfordAbbotsfordAbbots...,85 Turner St25 Bloomburg St5 Charles St40 Fede...,2366,hhhhhuhuhhuuhuhhhhuhhhhuuhhhuuuhuhuhhhhhhuhthh...,6.508920e+08,SSSPPISPIWSSSPSPSSSSPISPISPISSSPISPSWSPISSSNSN...,3/12/20164/02/20164/03/20174/03/20176/08/20167...,6032.2,2791146.0,1857.0,1027.0,936.0,286351.0,52196.8100,836256.0,Yarra City CouncilYarra City CouncilYarra City...,-26181.44473,100331.69516,Northern MetropolitanNorthern MetropolitanNort...,7460731.0
Woodards,Ascot ValeAscot ValeAscot ValeAshwoodAshwoodAs...,97 Walter St11 Ascot St6/37 Myrnong Cr28 Raymo...,2018,hhuhhuhhhhhhhhhthhuhuuuuhhhhuhthhhhhhhhhhtuhhu...,5.958149e+08,SSSSPISPISSSSVBVBSVBPISSSPSSSSSSSVBSSPSSSSSSSS...,4/03/201711/03/201725/02/20173/12/201617/09/20...,7012.1,2232768.0,1588.0,800.0,886.0,243599.0,40623.7000,540652.0,Moonee Valley City CouncilMoonee Valley City C...,-20853.97093,79919.20638,Western MetropolitanWestern MetropolitanWester...,4835421.0
RT,Albert ParkAlbert ParkAltona NorthAltona North...,396 Montague St86 Mills St2/9 First Av1B Papro...,1629,hhhhhhthhhhthhhhhthhhhhhhhhhhuhuhuhuhuhthuhhhh...,5.369865e+08,SVBSPSPSPPIPIPISPSSSSPSSPSSSPISSNPIPIPISVBSNSS...,4/03/201716/04/20167/11/201610/12/201612/11/20...,4037.3,1610406.0,1134.0,665.0,656.0,229984.0,32532.5000,369989.0,Port Phillip City CouncilPort Phillip City Cou...,-13472.56787,51618.43784,Southern MetropolitanSouthern MetropolitanWest...,3858829.0

In [ ]:
df.groupby(['SellerG']).count() # puxando atraves de contagem

,Suburb,Address,Rooms,Type,Price,Method,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
SellerG,,,,,,,,,,,,,,,,,,,,
@Realty,12,12,12,12,11,12,12,12,12,7,7,7,7,4,5,12,7,7,12,12
A,1,1,1,1,0,1,1,1,1,1,1,1,0,0,0,1,1,1,1,1
AIME,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,1,0,0,1,1
ASL,5,5,5,5,5,5,5,5,5,5,5,5,4,1,3,5,5,5,5,5
Abercromby's,49,49,49,49,33,49,49,49,49,38,38,38,37,22,22,49,39,39,49,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
iOne,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
iProperty,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
iSell,32,32,32,32,25,32,32,32,32,20,20,20,18,10,9,32,20,20,32,32
iTRAK,33,33,33,33,31,33,33,33,33,29,29,29,24,16,17,33,30,30,33,33
voglwalpole,2,2,2,2,0,2,2,2,2,1,1,1,1,0,0,2,1,1,2,2